<% if object.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t(".alert", errors: pluralize(object.errors.size, "error"))  %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
