@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Roboto|Pacifico:400|Lobster|Pangolin|Satisfy);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  font: normal 14px Roboto;
  img:hover{
    opacity: 0.5;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid
    $gray-medium-light;
  }
}

.logo {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 1.7em;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.list-slidebar{
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #337ab7;
  background-color: transparent;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-medium-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    padding-right: 10px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gender-radio {
  width: 50px;
  display: -webkit-inline-box
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.form-login {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color:#d2d2d2;
  border-width: 5px;
  box-shadow:0 1px 0 #cfcfcf;
  height: 300px;
}

h4 {
 border:0 solid #fff;
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 font-size: 20px;
}

.title{
  font-family: "Pacifico";
}

.form-control {
  border-radius: 10px;
  height:50px;
  text-align: left;
  padding-left: 20px;
  font-size: 16px;
}
.remmember {
  margin-top: -15px;
}

.login-checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  display: inline;
  width: 30%;
}
.wrapper-submit {
  text-align: center;
}

.btn-md{
  font-size: 16px;
}

.setting{
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: white;
  text-align: center;
  padding: 3px;
}

.setting:hover{
  background: $pink-light;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.show{
  margin-top: 20px;
  text-align: left;
}

.log-in{
  margin-top:50px;
}

.user-dropdown {
  padding: 3px 20px;
  min-height: 0;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap
}

.form-add {
  margin-left: 90px;
  width: 70%
}

.second-level-icon {
  margin-left: 20px;
}

.icon-side-bar{
  padding-right: 20px;
}

.login_page {
  text-transform: capitalize;
  line-height: 150%;
  margin: 10px;
}

header{
  margin-top: 30px;
  .container{
    background: $gray-medium-light;
  }
  ul li{
    list-style: none;
  }
  .icon-side-bar{
    margin-right: 10px;
  }
  .dropdown-user{
    background: $gray-medium-light;
  }
  .login{
    margin-top: 15px;
    font-family: "Lobster";
    font-size: 25px;
  }
  .menu-main{
    font-family: "Lobster";
    font-size: 15px;
    li .item-menu{
      &:hover {
        color: $orange-light;
        text-decoration: none;
      }
    }
    .active{
      color: $orange-light;
    }
  }
  .search_header{
    input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }
    input[type=text]:focus {
      width: 100%;
    }
  }
}

footer{
  .social-icon:hover{
    transform: scale(0.8);
    transition-duration: 0.5s;
  }

  .reach-wthree {
    background: #1d1d1d;
    padding: 2em 0;
  }

  .reach-wthree h3 {
    float: left;
    font-size: 2.5em;
    font-weight: 800;
    color: #fff;
    margin-top: 0.7em;
  }

  .w3l_footer_agileinfo {
    background: #1b1b1b;
    padding: 1.5em 0;
    border-top: 1px ridge rgba(50, 50, 50, 0.57);
    border-bottom: 1px ridge rgba(50, 50, 50, 0.57);
  }

  .mailadd-w3ls {
    text-align: left;
    padding: 0;
    p{
      font-size: 20px;
      letter-spacing: 1px;
      span{
        font-size: 1.3em;
        color: #ee4f4f;
        letter-spacing: 1px;
        margin-right: 10px;
      }
      a{
        font-size: 16px;
        color: #fff;
        letter-spacing: 2px;
      }
    }
  }

  .botttom-nav-agileits ul.nav-w3ls {
    text-align: center;
    margin-top: 5px;
    li{
      list-style: none;
      display: inline-block;
      margin: 0px 15px;
      a{
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
    li:hover a{
      color: #168eea;
    }
  }

  .w3l-social {
    width: 100%;
    float: none;
    text-align: center;
    .top-right-info-w3ls {
      float: none;
      text-align: center;
    }
  }

  .w3l_footer_agileinfo {
    background: #1b1b1b;
    padding: 1.5em 0;
    border-top: 1px ridge rgba(50, 50, 50, 0.57);
    border-bottom: 1px ridge rgba(50, 50, 50, 0.57);
  }

  .botttom-nav-agileits ul.nav-w3ls {
    text-align: center;
    margin-top: 5px;
    li {
      list-style: none;
      display: inline-block;
      margin: 0px 15px;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
    li:hover a {
      color: #168eea;
    }
  }
}

.view-pic{
  width: 50%;
  height: 250px;
  border-bottom: 6px solid blue;
}

a.blog-more-agile {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 2px solid #ee4f4f;
  background: #ee4f4f;
  text-transform: capitalize;
  margin-top: 2em;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 8px 20px;
  transition: .5s ease-in;
  margin-top: 1em;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 6px 18px;
  &:hover{
    text-decoration: none;
    color: #fff;
    border-color: #168eea;
    background: #168eea;
    transition: 0.5s all;
  }
}

.top-right-info-w3ls li {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 2px solid #ee4f4f;
  background: #ee4f4f;
  text-transform: capitalize;
  margin-top: 2em;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 8px 20px;
  transition: .5s ease-in;
  margin-top: 1em;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 6px 18px;
  &:hover{
    text-decoration: none;
    color: #fff;
    border-color: #168eea;
    background: #168eea;
    transition: 0.5s all;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.view-pic{
  width: 50%;
  height: 250px;
  border-bottom: 6px solid blue;
}

.list-comment{
  list-style: none;
  margin-top: 5px;
}

.wid-pic{
  width: 12%
}

.mar-review{
  margin-top: 5px;
  margin-left: 20px;
}

.style-review{
  color: #90949c;
  font-size: 11px;
}

ul li {
  list-style: none;
}

.book_tour{
  .styled-input input[type="text"]:hover,
  .styled-input input[type="email"]:hover,
  .contact-w3-agileits form textarea:hover {
    border-color: #777;
    transition: 0.5s all;
  }

  .styled-input {
    float: left;
    width: 32%;
  }

  .styled-input:nth-child(2) {
    margin: 0 2%;
  }

  .contact-w3-agileits input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background: #ee4f4f;
    border: 3px solid #ee4f4f;
    font-size: 18px;
    margin: 0 auto;
    display: block;
    margin-top: 1.3em;
    padding: 0.5em 4em;
    transition: 0.5s all;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }

  .contact-w3-agileits input[type="submit"]:hover {
    background: #168eea;
    border: 3px solid #168eea;
    color: #fff;
    transition: 0.5s all;
  }

  .error{
    color: red;
    font-style: italic;
  }
}

.show_tour{
  h1, h3{
    font-family: "Satisfy";
    color: #009966;
  }
  .img_tour{
    width: 100%;
    height: 200px;
  }
  pre{
    background: AliceBlue;
    font-style: italic;
    text-align: left;
    border: none;
  }
  .detail{
    width: 100%;
    height: 250px;
  }
  .fa {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-thumbs-o-up {
    background: #55ACEE;
    color: white;
    border-radius: 100%;
  }

  textarea{
    width: 85%;
    border: none;
    font-family: "Satisfy";
    font-size: 18px;
    padding: 0 20px;
    background: Silver;
  }
}

.reviews{
  width: 100%;
  background: white;
  margin: 10px 0;
  padding: 20px;
  .acc_info{
    float: left;
  }
  .time_review{
    font-weight: bold;
  }
}

.edit_review{
  h3{
    font-family: "Satisfy";
    font-size: 25px;
    color: #009966;
    text-align: center;
    margin: 10px;
  }
}

.error_show_view{
  color: red;
  font-style: italic;
  font-weight: bold;
}

.input-textarea{
  margin-top: 5px;
  border-radius: 10px;
  width: 90%;
  font-size: 13px;
}

.button-comment{
  font-size: 10px;
  padding: 5px 2px;
  margin-top: -5px;
}

.float-review{
  width: 20%;
}

.float-comment{
  width: 40%;
}

.align-name-user{
  text-align: left;
}

.alert-cancel{
  float: right;
  color: red;
}
